.form {
  display: flex;
  flex-direction: column;
  // This selector refers to all childs of .form class tag
  > * {
    margin-bottom: $m-size;
  }

}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}