// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Font sizes
$font-size-large: 1.38rem;
$font-size-small: 1.4rem;

// Spacing:
// Small-size
$s-size: 1.2rem;
// Medium-size
$m-size: 1.6rem;
// Large-size
$l-size: 3.2rem;
// XL Size
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;